.leaf {
  display: flex;
  gap: 1rem;
  align-self: stretch;
}

.leaf-class {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.25rem;
}

.leaf-text {
  width: 100%;
  font-family: monospace;
}

.leaf-border-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  min-width: var(--tournament-border-width);
  flex-grow: 1;
}
