.section {
	display: flex;
	align-self: stretch;
}

.section-match {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}


.section-border-container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-self: stretch;
	align-items: center;
	justify-content: center;
	min-width: var(--tournament-border-width);
	flex-grow: 1;
}